<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />

    <link rel="icon" href="../static/img/shoe.ico" />

    <title>CalzamundoShoes</title>
  </head>
  <body>
    <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
          <a class="navbar-brand" href="index.html"
            >Calzamundo<strong>Shoes</strong></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Header-->
      <header class="bg-dark py-5">
        <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                <h1 class="display-5 fw-bolder text-white mb-2">
                  A Bootstrap 5 template for modern businesses
                </h1>
                <p class="lead fw-normal text-white-50 mb-4">
                  Quickly design and customize responsive mobile-first sites
                  with Bootstrap, the world’s most popular front-end open source
                  toolkit!
                </p>
              </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
              <img
                class="img-fluid rounded-3 my-5"
                src="https://dummyimage.com/600x400/343a40/6c757d"
                alt="..."
              />
            </div>
          </div>
        </div>
      </header>
      <!-- Features section-->
      <section class="py-5" id="features">
        <div class="container px-5 my-5">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h2 class="fw-bolder mb-0">Quienes Somos</h2>
              <br />
              <img src="../static/img/imgCalzado.JPG" alt="" />
            </div>
            <div class="col-lg-5">
              <div class="row gx-25 row-cols-1">
                <div class="col mb-5 h-200">
                  <p>
                    Somos una empresa de Calzado a nivel Bogotá contamos con
                    tiendas fisicas en más de 3 puntos en diferentes
                    localidades, con nuestra tienda buscamos ofrecerle el mejor
                    calzado a nuestros clientes, de buena calidad y a excelentes
                    precios.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial section-->
      <div class="py-5 bg-light">
        <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
              <div class="text-center">
                <div class="fs-4 mb-4 fst-italic">
                  "CalzamundoShoes la magia al caminar"
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="fw-bold">
                    Dario Carrillo, Diana Niño
                    <span class="fw-bold text-primary mx-1">/</span>
                    CEO, Bogotá, Colombia
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog preview section-->
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
      <div class="container px-5">
        <div
          class="row align-items-center justify-content-between flex-column flex-sm-row"
        >
          <div class="col-auto">
            <div class="small m-0 text-white">
              Copyright &copy; 2022 Dario Carrillo-Diana Niño
              <br />
              <img
                src="../static/img/logoCalzamundo.png"
                alt=""
                style="height: 120px; weigth: 80px"
              />
            </div>
          </div>
          <div class="col-auto">
            <a class="link-light small" href="#!">Privacidad</a>
            <span class="text-white mx-1">&middot;</span>
            <a class="link-light small" href="#!">Terminos y condiciones</a>
            <span class="text-white mx-1">&middot;</span>
            <a class="link-light small" href="#!">Contactenos</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../static/js/scripts.js"></script>
  </body>
</html>
