<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CalzamundoShoes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      type="text/css"
      rel="stylesheet"
      th:href="@{../static/css/style.css}"
    />

    <link rel="icon" href="../static/img/shoe.ico" />

    <title>CalzamundoShoes</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #f11167">
      <div class="container-fluid">
        <a class="navbar-brand nombre"> Calzamundo<strong>Shoes</strong> </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Productos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Inventario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ventas</a>
            </li>
          </ul>
        </div>
        <form class="d-flex" role="search">
          <button class="btn btn-danger" type="submit">
            <img src="" alt="" />
            Cerrar Sesión
          </button>
        </form>
      </div>
    </nav>
    <!--Inicio del contenedor general-->
    <div class="container mt-4">
      <div class="row">
        <h1>Calzado</h1>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <a class="btn btn-primary btn-sm mb-3">Agregar</a>
        </div>
      </div>
    </div>
    <!--Fin del contenedor general-->
    <!--Inicio de la tabla-->
    <div class="container container-fluid">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Imagen</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="../static/img/imgCalzado.JPG" />
            </td>
            <td>Tennis</td>
            <td>Adidas</td>
            <td>
              <a class="btn btn-primary">Actualizar</a>
              <a class="btn btn-danger">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Fin de la tabla-->
  </body>
  <footer>
    <div class="footer">
      <div class="contenedor1">
        <br />
        <img src="../static/img/logoCalzamundo.png" alt="" class="logo" />
      </div>

      <div class="contenedor1">
        <h3>Contactenos</h3>
        <ul>
          <li><a href="/acerca-de">Acerca de nosotros</a></li>
          <li><a href="/conectar">Nuestras tiendas</a></li>
          <li><a href="/rrss">Redes Sociales</a></li>
        </ul>
      </div>
      <p><strong>&copy; 2022 Dario Carrillo-Diana Niño</strong></p>
    </div>
  </footer>
</html>
